.alert-danger {
  color: #C26F5E;
}

.color-danger {
  color: $red-color;
}

.bg-success {
  background: $green-color;
}

.bg-warning {
  background: $orange-color;
}

.bg-danger {
  background: $red-color;
}

.overflow-x-auto{
  overflow-x: auto !important
}

.overflow-y-auto{
  overflow-y: auto !important
}