{% extends 'base.html' %}
{% load static i18n l10n %}

{% block title %}{% trans "Check Your Inbox" %}{% endblock %}

{% block content %}
    <section class="headline">
        <h1 class="text-center">{% trans 'Check your inbox!' %}</h1>
    </section>
    <section class="flex-section" id="login">
        <div class="text-center">

            <h4 class="text-center">{% trans 'You should soon find the instructions for resetting your password right in your inbox.' %}</h4>
            <br/>
            <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
        </div>
        <img class="warning-image" src="{% static 'users/images/inbox.svg' %}">
    </section>
{% endblock %}