{% extends 'base.html' %}
{% load static i18n l10n %}

{% block title %}{% trans "Password Changed" %}{% endblock %}

{% block content %}
    <section class="headline">
        <lottie-player class="warning-image" src="{% static 'users/images/verified.json' %}"
                       background="transparent" speed="1" style="width: 200px; height: 200px; margin: 0 auto;" loop
                       autoplay></lottie-player>
    </section>
    <section class="flex-section" id="login">
        <div class="text-center">
            <h1>{% trans 'Your password has been changed!' %}</h1>
            <h3 class="text-center"><a href="{% url 'login' %}">{% trans 'You can now log in.' %}</a></h3>
            <br/>
            <a href="{% url 'home' %}"><i class="fas fa-home"></i></a>
        </div>
    </section>
{% endblock %}