{% extends 'base.html' %}
{% load static i18n l10n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <section class="headline">
        <h1>{% trans "Reset Password" %}</h1>
    </section>
    <section class="flex-section" id="password-reset">
        <div class="login-form warning-form reset-form">
            {% if form %}
                <p>{% trans 'You can set your new password right here.' %}</p>
                <form method="post">
                    {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>
                    <p>{{ form.new_password1.errors }}</p>
                    <p>{{ form.new_password2.errors }}</p>
                    <p>{{ form.new_password1.label }}</p>
                    <p>{{ form.new_password1 }}</p>
                    <p>{{ form.new_password2.label }}</p>
                    <p>{{ form.new_password2 }}</p>
                    <br/>
                    <input class="cta center" type="submit" value="{% trans "Submit" %}">
                </form>
            {% else %}
                <p>{% trans 'Your reset link is either invalid or you already used it.' %}</p>
            {% endif %}
        </div>
        <img class="warning-image" src="{% static 'users/images/key.svg' %}">
    </section>
{% endblock %}