{% extends 'base.html' %}
{% load static i18n l10n %}

{% block title %}{% trans "Forgot Password" %}{% endblock %}

{% block content %}
    <section class="headline">
        <h1>{% trans 'Forgot Password?' %}</h1>
    </section>
    <section class="flex-section" id="password-reset">
        <div class="login-form warning-form reset-form">
            <p>{% trans 'Just leave your email here to get a reset link right away.' %}</p>
            <form method="post">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.email.errors }}</p>
                <p>{{ form.email.label }}</p>
                {% if user.is_anonymous %}
                    <p>{{ form.email }}</p>
                {% else %}
                    <p>
                        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"
                               value="{{ user.email }}">
                    </p>
                {% endif %}
                <br/>
                <input type="submit" class="cta center" value="{% trans "Submit" %}">
                {% if user.is_anonymous %}
                    <p>Found it? <a href={% url 'login' %}>Log in!</a></p>
                {% endif %}
            </form>
        </div>
        <img class="warning-image" src="{% static 'users/images/key.svg' %}">
    </section>
{% endblock %}