{% extends "base.html" %}
{% load static i18n thumbnail %}
{% block extrahead %}
    <style>
        .hero {
        {% if page.hero_image %}
            background: url('{{ page.hero_image.url }}');
            background-size: cover;
            background-position-x: center;
            box-shadow: inset 0 0 0 2000px rgba(33, 33, 33, 0.4);
            padding: 0;
        {% elif page.hero_video %}
            background: #243630;
        {% endif %}
        }
    </style>
{% endblock %}
{% block content %}
    {% if page.hero_section %}
        {% include 'core/snippets/_hero_section.html' with hero=page.hero_section %}
    {% endif %}
    {% for section in page.page_sections.all %}
        {% with template_name=section.section.get_template_name %}
            {% include template_name with section=section.section %}
        {% endwith %}
    {% endfor %}
    {% if not page.hero_video %}
        <script src="{% static 'particles/particles.js-master/particles.js' %}"></script>
        <script src="{% static 'particles/demo/js/app.js' %}"></script>
    {% endif %}
{% endblock %}