{% extends "base.html" %}
{% load static i18n thumbnail %}
{% block extrahead %}
{% endblock %}

{% block title %}{{ page.title|default:current_site.site_name }}{% endblock %}
{% block description %}{{ page.search_description|default:"" }}{% endblock %}
{% block og_title %}{{ page.seo_title|default:"" }}{% endblock %}
{% block og_image %}{{ page.og_image.url|default:"" }}{% endblock %}
{% block keywords %}{{ page.seo_keywords|default:"" }}{% endblock %}

{% block content %}
    {% for section in page.page_sections.all %}
        {% with template_name=section.section.get_template_name %}
            {% include template_name with section=section.section %}
        {% endwith %}
    {% endfor %}
{% endblock %}