{% load i18n djmoney wagtailimages_tags %}
{% if product.image %}
    {% image_url product.image "fill-300x500-c100" as image_url %}
{% endif %}
<div class="product-card-tall" id="product-{{ product.pk }}"
     {% if product.image %}style="background-image: url('{{ image_url }}'); box-shadow: inset 0 0 0 200px rgba(33, 33, 33, 0.7), 0px 7px 9px -1px rgba(0, 0, 0, 0.55);" {% endif %}>
    <div class="card-text no-select">
        <h3>{{ product.name }}</h3>
        {{ product.description | safe }}
    </div>
    <span class="price">{% money_localize product.price %}</span>
    <br/><br/>
    {% if product.external_url %}
        <a href="{{ product.external_url }}" target="_blank" rel="noopener"
           class="card-cta">{% trans "Buy Now" %}</a>
    {% elif settings.shop.ShopSettings.shop_enabled %}
        <button hx-post="{% url 'shop:add_to_cart' %}" hx-target='#cart'
                hx-vals='{"item": {{ product.pk }}}'
                class="card-cta add-to-cart">{% trans "Add To Cart" %}</button>
    {% endif %}
</div>