{% load i18n djmoney wagtailimages_tags %}
<div class="product-modal" data-id="{{ product.id }}">
    {% if product.preorder_end_date %}
        <div class="preorder-banner">{% trans "Preorder ends" %} <span
                class="preorder-countdown">{{ product.preorder_end_date|date:"d/m/y H:i" }}</span></div>
    {% endif %}
    <div class="product-modal-content">
        <i class="fas fa-times close"></i>
        <h2>{{ product.name }}</h2>
        <h4>{{ product.amount }}</h4>
        <div class="image-description">
            {% if product.image %}
                {% image product.image width-300 %}
            {% endif %}
            <div class="product-sidepanel">
                <span class="price">{% money_localize product.price %}
                    {% if product.payment_recurrence %}
                        / {{ product.get_payment_recurrence_display }}
                    {% endif %}
                </span>
                <div class="related-products">
                    {% for related_product in product.related_products.all %}
                        {% image related_product.image fill-75x75-c10 data-id=related_product.id %}
                    {% endfor %}
                </div>

                {% if product.external_url %}
                    <a href="{{ product.external_url }}" target="_blank" rel="noopener"
                       class="card-cta">{% trans "Buy Now" %}</a>
                {% elif settings.core.ControlCenter.shop_enabled %}
                    <form hx-post="{% url 'shop:add_to_cart' %}" hx-target='#cart'>
                        <input type="hidden" name="item" value="{{ product.pk }}">
                        <div class="product-variants">
                            {% for variant in product.variants.all %}
                                <input type="radio" class="btn-check" name="variant" id="{{ variant.pk }}-{{ variant.name }}"
                                       autocomplete="off" value="{{ variant.pk }}"
                                       {% if not variant.available %}disabled{% endif %} required="true">
                                <label class="btn btn-secondary" for="{{ variant.pk }}-{{ variant.name }}">{{ variant.name }}</label>
                            {% endfor %}
                        </div>
                        {% if product.available %}
                            <button type="submit"
                                    class="card-cta add-to-cart">{% trans "Add To Cart" %}</button>
                        {% else %}
                            <h3 class="text-center mb-3">{% trans "Product is sold out." %}</h3>
                        {% endif %}
                    </form>
                {% endif %}
                {{ product.description | safe }}
            </div>
        </div>
    </div>
</div>