{% load i18n djmoney wagtailimages_tags %}
<div class="product-modal" data-id="{{ product.id }}">
     {% if product.preorder_end_date %}
        <div class="preorder-banner">{% trans "Preorder ends" %} <span class="preorder-countdown">{{ product.preorder_end_date|date:"d/m/y H:i" }}</span></div>
    {% endif %}
    <div class="product-modal-content">
        <i class="fas fa-times close"></i>
        <h2>{{ product.name }}</h2>
        <h4>{{ product.amount }}</h4>
        <div class="image-description">
            {% if product.image %}
                {% image product.image width-300 %}
            {% endif %}
            <div class="product-description">
                {{ product.description | safe }}
            </div>
        </div>
        <span class="price">{% money_localize product.price %}
            {% if product.payment_recurrence %}
                / {{ product.get_payment_recurrence_display }}
            {% endif %}</span>
        {% if product.external_url %}
            <a href="{{ product.external_url }}" target="_blank" rel="noopener"
               class="card-cta">{% trans "Buy Now" %}</a>
        {% elif settings.core.ControlCenter.shop_enabled %}
            <button hx-post="{% url 'shop:add_to_cart' %}" hx-target='#cart'
                    hx-vals='{"item": {{ product.pk }}}'
                    class="card-cta add-to-cart">{% trans "Add To Cart" %}</button>
        {% endif %}
    </div>
</div>