.counters-section {
  flex-direction: row !important;
  justify-content: space-around !important;
}

.number-counter {
  width: 250px;
  height: 150px;
  text-align: center;
}

.count {
  font-size: 2.5em;
}

.count-text {
  font-size: 1.5em;
}