#cart {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  height: 100vh;
  width: 500px;
  background: white;
  padding: 80px 50px 50px;
  overflow-y: auto;
  z-index: 15000;
  background: var(--color-cart-background);
  color: var(--color-cart-text);
}

#cart-close {
  position: absolute;
  right: 50px;
  top: 30px;
  cursor: pointer;
}

#cart-close-text {
  display: inline-block;
  transition: 400ms;
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    color: #131313;
  }
}

.cart-item {
  display: flex;
  border-top: 1px solid var(--color-cart-text);
  border-bottom: 1px solid var(--color-cart-text);
  height: 150px;
  align-items: center;
  justify-content: space-between;

  img {
    width: 50px;
    border-radius: 50%;
  }

  .cart-item-name {
    width: 100px;
    word-break: break-word;
  }

  .cart-item-quantity {
    width: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: default;
  }

  .cart-item-price {
    text-align: right;
  }

  .fa-minus, .fa-plus {
    cursor: pointer;

    &:hover {
      text-shadow: 0 0 30px white, 0 0 30px white, 0 0 30px white, 0 0 10px white, 0 0 10px white;
    }
  }
}

.cart-item.total {
  height: 50px;
}

.cart-icon-quantity {
  display: inline-block;
  position: absolute;
  right: -11px;
  font-size: 13px;
  line-height: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .cart-icon-quantity {
    right: 8px;
  }
}

@media screen and (max-width: 600px) {
  #cart {
    width: 100%;
  }

  .cart-item {
    flex-wrap: wrap;
  }

  .cart-item-price {
    width: 100%;
  }

}