footer {
  height: 550px;
  padding: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: auto;
  background: grey;
  color: white;
  line-height: 35px;
  background: url("/static/storengine/images/rocket-earth-wide.png");
  background-size: cover;
  background-position: top !important;
  box-shadow: inset 0 0 0 2000px rgba(33, 33, 33, 0.6);
  position: relative;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-footer {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.footer-lottie {
  width: 60px;
  height: 60px;
  max-width: 40em;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.svgs {
  position: fixed;
}
