#holder {
  z-index: 10;
  width: 100%;
  position: fixed;
  color: white;
}

.notification {
  background: var(--color-notification-background);
  color: var(--color-notification-text);
  width: 100%;
  text-align: center;
  padding: 10px;
}

#closeNotification {
  float: right;
  padding-right: 10px;
  cursor: pointer;
}