{% extends "base.html" %}
{% load static i18n l10n djmoney storengine wagtailimages_tags %}
{% block title %}{% trans 'Checkout' %}{% endblock %}

{% block content %}
    <section id="checkout">
        {% comment %}
        <div class="steps-container">
            <a href="{% url 'shop:service_order_step_1' view.kwargs.pk %}" class="step">1</a>
            <span class="step-divider">---------</span>
            <a href="{% url 'shop:service_order_step_2' view.kwargs.pk %}" class="step active">2</a>
        </div>
        {% endcomment %}
        <div class="flex-section align-items-start">
            <div id="billing-address" class="oder-lg-0 order-1">
                {% if not user.is_authenticated %}
                    <p>
                        <a href="{% url 'login' %}?next=/checkout">{% trans "Log In" context "imperative" %}</a> {% trans "to fill contact details" %}.
                    </p>
                {% endif %}
                <form action="" method="post" id="billing-address-form">
                    {% csrf_token %}
                    <div class="checkout-heading">
                        <h2>{% trans 'Billing Address' %}</h2>
                        <hr/>
                    </div>
                    {{ form.billing_address }}
                    <div class="checkout-heading mt-4"
                         id="shipping-address-heading">
                        <h2>
                            <i class="fa-solid fa-caret-right me-3"></i>{% trans 'Shipping Address' %}
                        </h2>
                        <hr/>
                    </div>
                    <div id="shipping-address-form">
                        {{ form.shipping_address }}
                    </div>
                    <input class="cta center" type="submit" name="pay_now"
                           value="{% trans "Buy now" %}"/>
                    {% if not cart.must_be_paid_online %}
                        <input class="cta center secondary" type="submit"
                               name="pay_later"
                               value="{% trans "Submit and pay later" %}">
                    {% else %}
                        <p class="text-center">
                            {% trans "You have items in your cart that need to be paid online." %}
                        </p>
                    {% endif %}
                </form>
            </div>
            <div id="order-summary" class="order-lg-1 order-0"
                 hx-get="{% url 'shop:load_order_summary' %}"
                 hx-trigger="every 2s">
                {% include 'shop/includes/_order_summary.html' %}
            </div>
        </div>
    </section>
{% endblock %}


