{% extends "base.html" %}
{% load static i18n l10n djmoney %}
{% block title %}{% trans 'Quiz' %} - {% trans 'Step 2' %}{% endblock %}

{% block content %}
    <section id="quiz">
        <h1>{% trans 'Physique Quiz' %}</h1>

        <h4 class="text-center">
            {% trans 'I am so happy you want to start working out with me!' %}<br/>
            {% trans "Before we start, I need to know some stuff about you and your goals. Don't worry, your data are safe." %}
        </h4>
        <div class="steps-container">
            <a href="{% url 'shop:service_order_step_1' view.kwargs.pk %}" class="step">1</a>
            <span class="step-divider">---------</span>
            <a href="{% url 'shop:service_order_step_2' view.kwargs.pk %}" class="step active">2</a>
        </div>
        <form action="" method="post" id="quiz-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="cta center" type="submit" name="pay_now" value="{% trans "Buy now" %}"/>
            <input class="cta center secondary" type="submit" name="pay_later"
                   value="{% trans "Submit and pay later" %}">
        </form>
    </section>
{% endblock %}


