{% extends 'core/snippets/_base_section.html' %}
{% load static i18n wagtailimages_tags %}
{% block section_content %}
    <div class="flex-section mb-5 justify-content-around">
        <h1>{% trans 'Contact' %}</h1>
        <p>
            {% if settings.core.ContactSettings.full_name %}
                <b>{{ settings.core.ContactSettings.full_name }}</b><br/>
            {% endif %}

            {% if settings.core.ContactSettings.contact_address %}
                {{ settings.core.ContactSettings.contact_address }}<br/>
            {% endif %}

            {% if settings.core.ContactSettings.vat_id %}
                {% trans "VAT ID" %}: {{ settings.core.ContactSettings.vat_id }}<br/>
            {% endif %}

            {% if settings.core.ContactSettings.phone_number %}
                {{ settings.core.ContactSettings.phone_number }}<br/>
            {% endif %}

            {% if settings.core.ContactSettings.email %}
                <br/>
                <a href="mailto:{{ settings.core.ContactSettings.email }}"
                   target="_blank">{{ settings.core.ContactSettings.email }}</a>
            {% endif %}
        </p>
        <div class="social-contact">
            {% for link in settings.core.ContactSettings.social_links.all %}
                {% if link.is_active %}
                    <a href="{{ link.url }}" target="_blank">
                        {% image link.icon fill-100x100-c100 %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if section.button %}
        {{ section.button.render }}
    {% endif %}
    {% if section.iframe %}
        {{ section.iframe | safe }}
    {% endif %}
{% endblock %}