{% extends 'core/snippets/_base_section.html' %}
{% load static i18n %}
{% block section_content %}
    <div class="flex-section mb-5">
        <h1>{% trans 'Contact' %}</h1>
        <p>
            {{ settings.core.ContactSettings.full_name|default:"" }}<br/>

            {% if settings.core.ContactSettings.vat_id %}
                {% trans "VAT ID" %}: {{ settings.core.ContactSettings.vat_id }}<br/>
            {% endif %}

            {{ settings.core.ContactSettings.phone_number|default:"" }}<br/><br/>

            {% if settings.core.ContactSettings.email %}
                <a href="mailto:{{ settings.core.ContactSettings.email }}"
                   target="_blank">{{ settings.core.ContactSettings.email }}</a>
            {% endif %}
        </p>
        <div class="social-contact">
            {% if settings.core.ContactSettings.instagram %}
                <a href="{{ settings.core.ContactSettings.instagram }}" target="_blank">
                    <img src="{% static 'storengine/images/iglogo.png' %}">
                </a>
            {% endif %}
            {% if settings.core.ContactSettings.facebook %}
                <a href="{{ settings.core.ContactSettings.facebook }}" target="_blank">
                    <img src="{% static 'storengine/images/fblogo.png' %}">
                </a>
            {% endif %}
            {% if settings.core.ContactSettings.linkedin %}
                <a href="{{ settings.core.ContactSettings.linkedin }}" target="_blank">
                    <img src="{% static 'storengine/images/lilogo.png' %}">
                </a>
            {% endif %}
        </div>
    </div>
    {% if section.button %}
        {{ section.button.render }}
    {% endif %}
    {% if section.iframe %}
        {{ section.iframe | safe }}
    {% endif %}
{% endblock %}