{% extends 'core/snippets/_base_section.html' %}
{% load storengine %}

{% block extra_attrs %}
    class="d-flex justify-content-around flex-wrap"
{% endblock %}
{% block section_content %}
    {% for counter in section.counters.all|filter_active %}
        <div class="number-counter">
            <span class="count">{{ counter.number }}</span>
            <br/>
            <span class="count-text">{{ counter.text }}</span>
        </div>
    {% endfor %}
    {% if section.button %}
        {{ section.button.render }}
    {% endif %}
{% endblock %}