{% extends 'core/snippets/_base_section.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block section_content %}
    {% if section.image %}
        <div class="flex-section">
            <div>
                {{ section.text|richtext }}
            </div>

            <div class="flex-column w-300 mw-300">
                {% if section.image %}
                    {% image section.image min-100x100 class="img-center" %}
                {% endif %}
            </div>

        </div>
    {% else %}
        <div>
            {{ section.text|richtext }}
        </div>
    {% endif %}
    {% if section.button %}
        {{ section.button.render }}
    {% endif %}
    {% if section.iframe %}
        {{ section.iframe | safe }}
    {% endif %}
{% endblock %}