{% extends 'core/snippets/_base_section.html' %}
{% load i18n %}
{% block section_content %}
    <h1>FAQ</h1>
    {% for faq in section.faqs %}
        <div class="faq">
            <div class="question">{{ faq.question | safe }}</div>
            <div class="answer">{{ faq.answer | safe }}</div>
        </div>
    {% empty %}
        <h2 class="text-center">{% trans "Come back later!" %}</h2>
    {% endfor %}
    {% if section.button %}
       {{ section.button.render }}
    {% endif %}
{% endblock %}