{% extends 'core/snippets/_base_section.html' %}
{% load static i18n l10n djmoney wagtailimages_tags wagtailcore_tags storengine %}
{% block section_content %}
    <div>
        {{ section.text|richtext }}
    </div>
    {% for product_type in section.product_types.all|filter_active %}
        {% if product_type.split_into_categories %}
            {% comment %} Show products WITH categories. {% endcomment %}
            {% regroup product_type.product_type.product_set.all by category as category_list %}
            {% for category in category_list %}
                {% if category.grouper.is_active %}
                    <h2 class="mt-5">{{ category.grouper }}</h2>
                    <div class="d-flex justify-content-around flex-wrap">
                        {% for product in category.list %}
                            {% if product.is_active %}
                                {% include "shop/includes/_product_card_tall.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr class="mt-5">
                {% endif %}
            {% empty %} {% comment %} If there are no categories, show products WITHOUT them. {% endcomment %}
                <div class="d-flex justify-content-center flex-wrap">
                    {% for product in product_type.product_type.product_set.all|filter_active %}
                        {% include "shop/includes/_product_card_tall.html" %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %} {% comment %} Show products WITHOUT categories. {% endcomment %}
            <div class="d-flex justify-content-center flex-wrap">
                {% for product in product_type.product_type.product_set.all|filter_active %}
                    {% include "shop/includes/_product_card_tall.html" %}
                {% endfor %}
            </div>
        {% endif %}
    {% empty %} {% comment %} Show assigned products only. {% endcomment %}
        {% for product in section.products.all|filter_active %}
            {% include "shop/includes/_product_card_tall.html" with product=product.product %}
        {% empty %}
            <h2 class="text-center">{% trans "Come back later!" %}</h2>
        {% endfor %}
    {% endfor %}

    {% if section.button %}
        {{ section.button.render }}
    {% endif %}

    <div class="overlay" id="product-overlay">
        {% if section.product_types.exists %} {% comment %} Generate modals for product types. {% endcomment %}
            {% for product_type in section.product_types.all|filter_active %}
                {% for product in product_type.product_type.product_set.all|filter_active %}
                    {% include "shop/includes/_product_modal.html" %}
                {% endfor %}
            {% endfor %}
        {% else %} {% comment %} Generate modals for assigned products only. {% endcomment %}
            <div class="d-flex justify-content-start flex-wrap">
                {% for product in section.products.all|filter_active %}
                    {% with product.product as product %}
                        {% include "shop/includes/_product_modal.html" %}
                    {% endwith %}
                {% empty %}
                    <h2 class="text-center">{% trans "Come back later!" %}</h2>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script src="{% static 'shop/js/shop.js' %}"></script>
{% endblock %}