{% extends 'core/snippets/_base_section.html' %}
{% load i18n storengine %}
{% block section_content %}
    {% with section.testimonials|filter_active as testimonials %}
        {% if testimonials.exists %}
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for testimonial in testimonials %}
                            <li class="splide__slide">
                                <div class="testimonial">
                                    <div class="testimonial-text-wrapper">
                                        <p class="testimonial-text">{{ testimonial.text }}<br/><br/>
                                            <span class="testimonial-author">{{ testimonial.author }}</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}