{% extends 'core/snippets/_base_section.html' %}
{% load i18n storengine wagtailcore_tags %}
{% block section_content %}
    <div class="mb-5">
        {{ section.text|richtext }}
    </div>
    {% with section.testimonials|filter_active as testimonials %}
        {% if testimonials.exists %}
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for testimonial in testimonials %}
                            <li class="splide__slide">
                                <div class="testimonial">
                                    <div class="testimonial-text-wrapper">
                                        <p class="testimonial-text">{{ testimonial.text }}<br/><br/>
                                            <span class="testimonial-author">{{ testimonial.author }}</span>
                                            <br/><br/>
                                            {% if testimonial.video_embed_url %}
                                                <span class="watch-button">{% trans 'Watch' %} <i class="fa-solid fa-play"></i></span>
                                            {% endif %}
                                        </p>
                                        {% if testimonial.video_embed_url %}
                                            <div class="testimonial-video-embed">
                                                <iframe allowfullscreen width="400" height="200"
                                                        src="{{ testimonial.video_embed_url }}">
                                                </iframe>
                                                <span class="back-button"><i
                                                        class="fa-solid fa-caret-left"></i> {% trans 'Back' %}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    {% if section.button %}
        {{ section.button.render }}
    {% endif %}
{% endblock %}