{% load static i18n wagtailuserbar wagtailcore_tags wagtailimages_tags storengine %}
{% wagtail_site as current_site %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ current_site.site_name }}{% endblock %}</title>
    {% if settings.core.BrandSettings.logo %}
        <link href="{% image_url settings.core.BrandSettings.logo "max-300x100" %}"
              rel="shortcut icon"
              type="image/x-icon">
        <link href="{% image_url settings.core.BrandSettings.logo "max-300x100" %}"
              rel="apple-touch-icon">
    {% else %}
        <link href="{% static 'storengine/images/se-logo-nobg.png' %}"
              rel="shortcut icon" type="image/x-icon">
        <link href="{% static 'storengine/images/se-logo-nobg.png' %}"
              rel="apple-touch-icon">
    {% endif %}

    <meta property="og:title" content="
            {% block og_title %}{{ current_site.site_name }}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content={% block keywords %}{% endblock %}>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{{ settings.core.BrandSettings.google_font.url }}|Oswald"
          rel="stylesheet">

    {% include "storengine/includes/_theme_vars.html" %}
    <link rel="stylesheet" href="{% static 'storengine/css/style.css' %}"
          type="text/css">

    <script src="https://unpkg.com/htmx.org@1.7.0"
            integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script src="{% static 'storengine/js/main.js' %}"></script>
    <script src="{% static 'storengine/js/in-view.min.js' %}"></script>
    <script src="{% static 'storengine/js/splide.min.js' %}"></script>

    <style>
        {% if settings.core.BrandSettings.footer_image %}
            footer {
                background: url("{% image_url settings.core.BrandSettings.footer_image "fill-1920x1080-c100" %}") center;
                background-size: cover;
            }
        {% endif %}

        footer::after {
        {% if settings.core.BrandSettings.show_footer_waves %}
            position: absolute;
            content: '';
            width: 100%;
            height: 120px;
            top: -1px;
            left: 0;
            /* ID from SVGs Clip Path*/
            clip-path: url(#waveDown3);
        {% endif %}
        }
    </style>

    {% block extrahead %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% wagtailuserbar %}
{% cart as cart %}
<div class="holder" id="holder">
    {% if settings.core.ControlCenter.notification_bar_show %}
        <div class="notification" id="notification">
            <span class="notification-text">{{ settings.core.ControlCenter.notification_bar_text|default:"" }}</span>
            <span class="icon" id="closeNotification">
            <i class="fa fa-times"></i>
        </span>
        </div>
    {% endif %}
    <nav class="main-navbar" role="navigation">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <a href="/">
            {% if settings.core.BrandSettings.logo %}
                {% image settings.core.BrandSettings.logo max-300x100 class="logo" title="logo" %}
            {% else %}
                <img class="logo"
                     src="{% static 'storengine/images/se-logo-nobg.png' %}"
                     alt="Logo">
            {% endif %}
        </a>
        <ul class="main-nav" id="js-menu">
            {% for page in menu_pages|filter_by_locale:LANGUAGE_CODE %}
                <li>
                    <a href="{% if page.url_path.lower != '/home/' %}/{{ page.slug }}/{% else %}/{% endif %}"
                       class="nav-links">{{ page.title.upper }}</a></li>
            {% endfor %}
            {% if locales.count > 1 %}
                <form action="{% url 'set_language' %}" method="post"
                      id="language-form">
                    {% csrf_token %}
                    <input name="next" type="hidden"
                           value="{{ request.get_full_path }}"/>
                    <select name="language" id="language-select"
                            onchange="this.form.submit()">
                        {% for locale in locales %}
                            <option value="{{ locale.language_code }}"
                                    {% if locale.language_code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ locale.language_code.upper }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            {% endif %}

            {% if settings.core.ControlCenter.accounts_enabled %}
                <li><a href="{% url 'profile' %}" class="nav-links"
                       title="{% trans 'Account' %}"><i
                        class="fas fa-user"></i></a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="nav-links"
                           title="{% trans 'Log Out' %}"><i
                            class="fas fa-sign-out-alt"></i></a></li>
                {% endif %}
            {% endif %}
            <li id="nav-link-cart" title="{% trans 'Cart' %}"
                hx-get="{% url 'shop:load_cart_icon' %}"
                hx-trigger="every 2s">
                {% include "shop/includes/_cart_icon.html" %}
            </li>
        </ul>
    </nav>
</div>
<main role="main">
    {% block content %}
    {% endblock %}
</main>
<footer>
    <div class="footer-section">
        {{ settings.core.ContactSettings.full_name|default:"" }}<br/>
        {{ settings.core.ContactSettings.business_title|default:"" }}
    </div>
    <div class="footer-section">
        {% if settings.core.ContactSettings.email %}
            <p>
                <a href="mailto:{{ settings.core.ContactSettings.email }}">{{ settings.core.ContactSettings.email }}</a>
            </p>
        {% endif %}
        <div class="social-footer">
            {% for link in settings.core.ContactSettings.social_links.all|filter_active %}
                <a href="{{ link.url }}" target="_blank">
                    {% image link.icon fill-30x30-c100 %}
                </a>
            {% endfor %}
        </div>
        © {{ settings.core.ContactSettings.full_name }} {% now "Y" %}
    </div>
    <div class="footer-section">
        {% for page in menu_pages|filter_by_locale:LANGUAGE_CODE %}
            <a href="{% if page.url_path.lower != '/home/' %}/{{ page.slug }}/{% else %}/{% endif %}">
                {{ page.title.upper }}
            </a>
        {% endfor %}
        {% if settings.core.ContactSettings.gdpr_url %}
            <a href="{{ settings.core.ContactSettings.gdpr_url }}">
                {% trans 'GDPR' %}
            </a>
        {% endif %}
        {% if settings.core.ContactSettings.terms_and_conditions_url %}
            <a href="{{ settings.core.ContactSettings.terms_and_conditions_url }}">
                {% trans 'TERMS & CONDITIONS' %}
            </a>
        {% endif %}
    </div>
    {% include "storengine/includes/_footer_lottie.html" %}
</footer>
{% if not request.session.cookies_preferences_set %}
    {% include "storengine/includes/_cookie_bar.html" %}
{% endif %}
<div class="svgs">
    {% include "storengine/includes/_svgs.html" %}
</div>
{% if settings.core.ControlCenter.shop_enabled %}
    <div id="cart" hx-get="{% url 'shop:load_cart' %}" hx-trigger="cartUpdated from:body">
        {% include "storengine/includes/_cart.html" %}
    </div>
{% endif %}
</body>
</html>