{% load i18n l10n djmoney static wagtailimages_tags storengine %}
<i id="cart-close" class="fa fa-times"></i>
{% cart as cart %}
{% if cart %}
    <div class="text-center w-100 mb-3 h3"><i class="htmx-indicator fa fa-circle-o-notch fa-spin"></i></div>
    {% for item in cart.items.all %}
        <div class="cart-item">
            {% image item.product.image fill-100x100-c100 %}
            <div class="cart-item-name col-3">
                {{ item.product.name }}<br/>
                {% if item.product_variant %}
                    {{ item.product.variants_name }}: {{ item.product_variant.name }}
                {% endif %}
            </div>
            <div class="cart-item-quantity-control">
                <i hx-post="{% url 'shop:add_to_cart' %}" hx-swap="none"
                   hx-vals='{"item": {{ item.product.pk }}, "variant": {{ item.product_variant.pk|default:0 }},  "amount": -1}'
                   class="fa fa-minus">&nbsp;</i>
                <input class="cart-item-quantity" type="text" value="{{ item.amount }}" readonly>&nbsp;
                {% if item.product_variant.pcs_in_stock > item.amount %}
                    <i hx-post="{% url 'shop:add_to_cart' %}" hx-swap="none"
                       hx-vals='{"item": {{ item.product.pk }}, "variant": {{ item.product_variant.pk|default:0 }}}'
                       class="fa fa-plus"></i>
                {% endif %}
            </div>
            <span class="cart-item-price col-4">
                   {% money_localize item.price %}
            </span>
        </div>
    {% endfor %}
    <div class="cart-item total">
        <div class="cart-item-name">{% trans "TOTAL" %}</div>
        <span>{% money_localize cart.total_price %}</span>
    </div>
    <div class="cart-control text-center">
        <a href="{% url 'shop:checkout' %}" class="cta center">{% trans "CHECKOUT" %} <i
                class="fa fa-arrow-right"></i></a>
        <span id="cart-close-text">{% trans "Close cart" %}</span>
    </div>
{% else %}
    <h2 class="text-center"><i class="fas fa-shopping-cart"></i></h2>
    <h3 class="text-center">{% trans "It's so empty here!" %}</h3>
{% endif %}