{% load static i18n %}
<div id="cookie-bar" hx-swap="none">
    <div id="cookie-bar-content">
        <div>
            <h2>COOKIES</h2>
            <p>
                {% blocktrans trimmed %}
                    By allowing cookies, you are helping us with improving the website and our services.
                    You can find all the information in our Cookie Policy. You can modify your preferences later.
                {% endblocktrans %}
            </p>
            <button id="cookie-settings-button" class="cookie-button">{% trans 'Configure' %}</button>
            <button class="cookie-button" id="accept-important-cookies"
                    hx-post="{% url 'set_cookies_preferences' %}"
                    hx-vals='{"important": "on"}'>
                {% trans 'Allow essential cookies' %}
            </button>
            <button class="cookie-button accept-all" id="accept-all-cookies"
                    hx-post="{% url 'set_cookies_preferences' %}"
                    hx-vals='{"important": "on", "analytic": "on", "marketing": "on"}'>
                {% trans 'Allow all' %}
            </button>
        </div>
        <img width="100px" src="{% static 'storengine/images/cookie.svg' %}">
    </div>
</div>
<div id="cookie-modal">
    <div id="cookie-modal-content">
        <i class="fa fa-times modal-close" aria-hidden="true"></i>
        <h2>{% trans 'Advanced Settings' %}</h2>

        <p>
            {% blocktrans trimmed %}
                It is completely up to you which cookies you allow. If you ever change your mind,
                you can always modify your preferences.
            {% endblocktrans %}
        </p>
        <hr>
        <br/>
        <form id="cookies-form">
            <label for="important" class="toggle-switchy" data-color="orange">
                <input checked type="checkbox" id="important" name="important" disabled>
                <span class="toggle">
		            <span class="switch"></span>
	            </span>
                &nbsp;{% trans 'Essential Cookies' %}
            </label>
            <br/>
            <small>
                {% blocktrans trimmed %}
                    We need these cookies for smooth functioning of the website. That's why they cannot be turned off.
                    But don't worry, they don't contain any personal information.
                {% endblocktrans %}
            </small>
            <hr/>
            <label for="analytic" class="toggle-switchy" data-color="green">
                <input type="checkbox" id="analytic" name="analytic">
                <span class="toggle">
		            <span class="switch"></span>
	            </span>
                &nbsp;{% trans 'Analytic Cookies' %}
            </label>
            <br/>
            <small>
                {% blocktrans trimmed %}
                    Analytic cookies help us to understand how the visitors use the website.
                    They anonymously collect information about, for example, which pages are the most popular and
                    where visitors struggle to understand the user interface.
                {% endblocktrans %}
            </small>
            <hr/>
            <label for="marketing" class="toggle-switchy" data-color="green">
                <input type="checkbox" id="marketing" name="marketing">
                <span class="toggle">
		            <span class="switch"></span>
	            </span>
                &nbsp;{% trans 'Marketing Cookies' %}
            </label>
            <br/>
            <small>
                {% blocktrans trimmed %}
                    With the help of marketing cookies we are able to track the website traffic.
                    That helps us create content that is for our visitors truly interesting.
                {% endblocktrans %}
            </small>
            <br/><br/>
            <button type="submit" hx-post="{% url 'set_cookies_preferences' %}"
                    class="cookie-modal-button accept-all">{% trans 'Save' %}
            </button>
        </form>
    </div>
</div>