{% extends 'users/account_base.html' %}
{% load static i18n l10n %}
{% block title %}{% trans "My Orders" %}{% endblock %}
{% block account_content %}
    <section class="account-nav">
        <ul>
            <li><h3><a href="{% url 'profile' %}">{% trans "GENERAL" %}</a></h3></li>
            <li><h3><a href="{% url 'account_orders' %}" class="active">{% trans "MY ORDERS" %}</a></h3></li>
        </ul>
    </section>
    <section class="flex-section" id="account">
        <div class="user-service-orders">
            <h3 class="color-danger">{% trans 'Orders' %}</h3>
            {% for order in orders %}
                <div class="order-description">
                    <div class="order-number">{{ order.order_number }}</div>
                    <div class="order-price">{{ order.total_price }}</div>
                </div>
                <div class="order-items">
                    {% for item in order.items.all %}
                        <div class="order-item">
                            <span class="order-item-description">{{ item.quantity }}x {{ item.product.name }}</span>
                            <span class="order-item-price">{{ item.product.price }}</span>
                        </div>
                    {% endfor %}
                    <div class="order-item">
                        <span class="order-item-description">
                            <a target="_blank" rel="noopener noreferrer" href="{{ order.invoice.get_absolute_url }}">
                                {% trans "Invoice" %}
                            </a>
                        </span>
                        <span class="order-item-price">{{ order.is_paid|yesno:_("Paid, Not Paid") }}</span>
                    </div>
                </div>

            {% empty %}
                {% trans "You have not ordered any services yet." %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
