$primary-color: var(--color-primary);
$color-primary: var(--color-primary);

$color-accent: var(--color-accent);
$cta-background-color: var(--color-accent);

$red-color: var(--color-error);
$green-color: #00a97e;
$white-color: #ececec;
$orange-color: #c78620;