{% extends 'wagtailadmin/login.html' %}
{% load static i18n wagtailadmin_tags widget_tweaks %}

{% block furniture %}
    <main class="content-wrapper">
        {% if messages or form.errors %}
            <div class="messages">
                <ul>
                    {% if form.errors %}
                        <li>{% trans "Your username and password didn't match. Please try again." %}</li>
                    {% endif %}

                    {% if next and request.user.is_authenticated %}
                        <li>{% trans "Your account doesn't have access to this page. To proceed, please log in with an account that has access." %}</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% block above_login %}
            <img src="{% static 'storengine/images/rocket-earth.png' %}" width="100"
                 style="display: block; margin: 0 auto;">
        {% endblock %}

        <form action="{% url 'wagtailcore_login' %}" method="post" autocomplete="off" novalidate>
            {% block login_form %}
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ next }}"/>

                <h1>{% block branding_login %}{% endblock %}</h1>

                <div class="fields-wrapper">
                    <ul class="fields">
                        {% block fields %}
                            <li class="full">
                                <div class="field iconfield">
                                    {{ form.username.label_tag }}
                                    <div class="input icon-user">
                                        {% with "placeholder:"|add:_("Enter your Email") as username_ph %}
                                            {{ form.username|attr:username_ph }}
                                        {% endwith %}
                                    </div>
                                </div>
                            </li>
                            <li class="full">
                                <div class="field iconfield">
                                    {{ form.password.label_tag }}
                                    <div class="input icon-password">
                                        {% with "placeholder:"|add:_("Enter Password") as password_ph %}
                                            {{ form.password|attr:password_ph }}
                                        {% endwith %}
                                    </div>
                                </div>
                            </li>

                            {% block extra_fields %}
                                {% for field_name, field in form.extra_fields %}
                                    <li class="full">
                                        {{ field.label_tag }}
                                        <div class="field iconfield">
                                            {{ field }}
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endblock extra_fields %}

                            <li class="checkbox">
                                <div class="field">
                                    <label><input name="remember" type="checkbox"/>{% trans "Remember me" %}</label>
                                </div>
                            </li>
                        {% endblock %}

                        <li class="submit">
                            {% block submit_buttons %}
                                <button type="submit" class="button button-longrunning"
                                        data-clicked-text="{% trans 'Signing in…' %}">{% icon name="spinner" %}<em>{% trans 'Sign in' %}</em>
                                </button>
                            {% endblock %}
                        </li>
                    </ul>
                </div>
            {% endblock %}
        </form>

        {% block below_login %}{% endblock %}

    </main>
{% endblock %}